.expense-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  width: max-content;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.expense-modal-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 10px; /* Gap between grid items */
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container input,
.input-container select {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  color: lightslategray;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.input-container select {
  cursor: pointer;
}

.expense-modal-buttons {
  display: flex;
  justify-content: space-between;
}
